.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Set fixed width and height */
  height: 100px; /* Set fixed height */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  transform-origin: center;
  animation: spin 2s linear infinite;
}
